body {
    background-color: F8F8F8;
}

.wrapper {
    width: 1280px;
    height: 686px;
    margin: 0 auto;
    border: 2px solid;
}







.header {
    display: flex;
    justify-content: space-around;
    margin-left: 32px;
    margin-top: 16px;
}

.image-logo {
    margin-right: 80px;
}

li {
    display: inline ;
    margin: 50px;
   
}

.list_menu {
    font-size: 24px;
    font-weight: 500px;
    font-family: 'Montserrat', sans-serif;
    
}

.cart {
    margin-right: 40px;
    margin-top: 20px;
    padding-right: 48px;
}

.imgg1:hover {
    box-shadow: 2px 2px 8px 8px #Eaddd3;
}
.imgg2:hover {
    box-shadow: 2px 2px 8px 8px #Eaddd3;
}

.imgg1, 
.imgg2 {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    margin-right: 10px;
}











.main{
    margin-top: 90px;
}


h1  {
    font-family: 'Montserrat', ;
    font-size: 104px;
    font-weight: 600px;
    text-align: center;
    margin: 0;
}

.h1-2  {
    font-family: 'Montserrat', ;
    font-size: 104px;
    font-weight: 600px;
    display: flex;
    padding-left: 400px ;
    margin: 0;
}

.h1-3  {
    font-family: 'Montserrat', ;
    font-size: 104px;
    font-weight: 600px;
    display: flex;
    padding-left: 400px ;
    margin: 0;
}


.bottom {
    width: 272px;
    height: 64px;
    border: 3px solid;
    text-align: center;
    display: flex;
    margin: 0 auto;
    margin-top: 70px;
}

.t1 {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif ;
    font-weight: 600px;
    margin: 0 auto;
    padding-top: 15px ;
}

.t1 {
    font-style: normal;
}

.arrow {
    margin: 0 auto;
    padding-top: 25px ;
}


.bottom:hover {
    border: 4px solid #8f5325;
    box-shadow: 2px 2px 8px 8px #Eaddd3;

}

















.wrapper2 {
    background-color: #F0EDE8;
    width: 1280px;
    height: 720px;
    margin: 0 auto;
    border: 2px solid;
    margin-top: 180px;
}

.textwr {
    margin-top: 50px;
    margin-left: 32px;
}

.thw1 {
    font-size: 32px;
    font-family: 'Montserrat' ;
    font-weight: 600px;
    padding-top: 15px ;
}

.tp1 {
    font-size: 18px;
    font-family: 'Montserrat' ;
    font-weight: 100px;
    line-height: 0.5;
    padding-top: 15px ;
}

.tp2 {
    font-size: 18px;
    font-family: 'Montserrat' ;
    font-weight: 100px;
    line-height: 0.5;
    padding-top: 15px ;
}



/*Кнопочки картіночки*/

.sale {
    margin: 0;
    
}

input[type="radio"] {
    width: 0;
    height: 0;
}

#slider {
	position: relative;
    text-align: center;
    top: -400px;
}
#slider {
    margin-left: 400px;
}
#slides article {
	width: 20%;
	float: left;
}
#slides .image {
	width: 500%;
	line-height: 0;
}
#overflow {
	width: 100%;
	overflow: hidden;
}
article img {
	width: 430px;
	height: 500px;
}
#dekstop:checked ~ #slider {
	max-width: 960px;
}
#switch1:checked ~ #controls label:nth-child(5),
#switch2:checked ~ #controls label:nth-child(1),
#switch3:checked ~ #controls label:nth-child(2),
#switch4:checked ~ #controls label:nth-child(3),
#switch5:checked ~ #controls label:nth-child(4) {
	background-image: url(./Arrow\ 2\(1\).png);
	    background-repeat: no-repeat;
	    background-size: cover;
	float: right;
    left: -368px;
    margin-right: 100px;
	position: absolute;
	display: block;
	height: 68px;
	width: 68px;
	border: 2px solid rgb(0, 0, 0);
}
#switch1:checked ~ #controls label:nth-child(2),
#switch2:checked ~ #controls label:nth-child(3),
#switch3:checked ~ #controls label:nth-child(4),
#switch4:checked ~ #controls label:nth-child(5),
#switch5:checked ~ #controls label:nth-child(1) {
	background-image: url(./Arrow\ 2.png);
		background-repeat: no-repeat;
		background-size: cover;
	float: right;
    left: -228px;
	position: absolute;
	display: block;
	height: 68px;
	width: 68px;
	border: 2px solid black;
}
.all input {
	display: none;
}





#switch1:checked ~ #slides .image {
	margin-left: 0;
	
}
#switch2:checked ~ #slides .image {
	margin-left: -100%;
}
#switch3:checked ~ #slides .image {
	margin-left: -200%;
}
#switch4:checked ~ #slides .image {
	margin-left: -300%;
}
#switch5:checked ~ #slides .image {
	margin-left: -400%;
}










.wrapper3 {
    width: 1280px;
    height: 2180px;
    margin: 0 auto;
    border: 2px solid;
    margin-top: 180px;
}


.tk1  {
    font-family: 'Montserrat' ;
    font-size: 48px;
    font-weight: 600px;
    text-align: center;
    margin: 0;
}

.block_img1 {
    margin-left: 32px;
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
}

.textt1 {
    font-family: 'Montserrat' ;
    font-size: 24px;
    font-weight: 100px;
    margin: 0;
    display: flex;
    margin: 24px 0;
}

.textt2 {
    font-family: 'Montserrat' ;
    font-size: 24px;
    font-weight: 100px;
    margin: 0;
    display: flex;
    margin: 24px 0;
}

.textt1 p:nth-child(2),
.textt2 p:nth-child(2) {
    margin-left: 347px; 
}


.bk2 {
    margin-left: 40px;
}

.buttton1 {
    width: 460px;
    height: 61px;
    background-color: #4B7729;
    margin-left: 66px;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;

}

.buttton1 p {
    font-family: 'Montserrat' ;
    font-size: 24px;
    font-weight: 100px;
    margin: 0;
    display: flex;
    margin: 24px 0;
    margin-right: 10px;
}

.buttton1:hover {
    box-shadow: 2px 2px 8px 8px #9db7a2;
}












.block_img2 {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
}

.textt3 {
    font-family: 'Montserrat' ;
    font-size: 24px;
    font-weight: 100px;
    margin: 0;
    display: flex;
    margin: 24px 0;
}

.textt4 {
    font-family: 'Montserrat' ;
    font-size: 24px;
    font-weight: 100px;
    margin: 0;
    display: flex;
    margin: 24px 0;
}

.textt3 p:nth-child(2),
.textt4 p:nth-child(2) { 
    width: 100%; 
    text-align: center; 
    margin: 24px 0; 
    white-space: nowrap;
}

.textt3,
.textt4 { 
    width: 100%; 
    text-align: center; 
    margin: 24px 0; 
    white-space: nowrap;
}
.textt3 p,
.textt4 p {
    display: inline-block;
    margin-right: 330px; 
}

.textt4 p {
    display: inline-block;
    margin-right: 300px; 
}





.bk4 {
    margin-left: 40px;
}










.block_img3 {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
}

.textt5 {
    font-family: 'Montserrat' ;
    font-size: 24px;
    font-weight: 100px;
    margin: 0;
    display: flex;
    margin: 24px 0;
}

.textt6 {
    font-family: 'Montserrat' ;
    font-size: 24px;
    font-weight: 100px;
    margin: 0;
    display: flex;
    margin: 24px 0;
}

.textt5 p:nth-child(2),
.textt6 p:nth-child(2) { 
    width: 100%; 
    text-align: center; 
    margin: 24px 0; 
    white-space: nowrap;
}

.textt5,
.textt6 { 
    width: 100%; 
    text-align: center; 
    margin: 24px 0; 
    white-space: nowrap;
}
.textt5 p,
.textt6 p {
    display: inline-block;
    margin-right: 330px; 
}

.textt6 p {
    display: inline-block;
    margin-right: 300px; 
}

.bk6 {
    margin-left: 40px;
}










.wrapper4 {
    background-color: #F0EDE8;
    position: absolute;
    width: 1280px;
    height: 2516px;
    margin: 0 auto;
    padding-left: 32px;
    border: 2px solid;
    left: 200;
    top: 3970;
    margin-top: 180px;
}

.llllimage {
    display: flex;
}


.h1wr {
    font-family: 'Montserrat' ;
    font-size: 48px;
    font-weight: 600px;
    text-align: center;
    margin: 0;
    margin-top: 80px;
}

.text-img1 {
    margin-top: 80px;
}


.xxtext {
    font-family: 'Montserrat' ;
    font-size: 32px;
    font-weight: 600px;
    margin: 0;
    margin-top: 40px;
}
.xxtext2 {
    font-family: 'Montserrat' ;
    font-size: 32px;
    font-weight: 600px;
    margin: 0;
}

.xtext{
    font-family: 'Montserrat' ;
    font-size: 18px;
    font-weight: 100px;
    margin: 0;
    margin-top: 24px;
}

.xtext2{
    font-family: 'Montserrat' ;
    font-size: 18px;
    font-weight: 100px;
    margin: 0;
}



.text-img2 {
    margin-top: 80px;
}


.xxtext1 {
    font-family: 'Montserrat' ;
    font-size: 32px;
    font-weight: 600px;
    margin: 0;
    margin-top: 40px;
}
.xxtext4 {
    font-family: 'Montserrat' ;
    font-size: 32px;
    font-weight: 600px;
    margin: 0;
}

.xtext1{
    font-family: 'Montserrat' ;
    font-size: 18px;
    font-weight: 100px;
    margin: 0;
    margin-top: 24px;
}

.xtext4{
    font-family: 'Montserrat' ;
    font-size: 18px;
    font-weight: 100px;
    margin: 0;
}





.blocke2 {
    margin-left: 72px;
}

.text-img3 {
    margin-top: 80px;
}


.xxtext3 {
    font-family: 'Montserrat' ;
    font-size: 32px;
    font-weight: 600px;
    margin: 0;
    margin-top: 40px;
}
.xxtext5 {
    font-family: 'Montserrat' ;
    font-size: 32px;
    font-weight: 600px;
    margin: 0;
}

.xtext3{
    font-family: 'Montserrat' ;
    font-size: 18px;
    font-weight: 100px;
    margin: 0;
    margin-top: 24px;
}

.xtext5{
    font-family: 'Montserrat' ;
    font-size: 18px;
    font-weight: 100px;
    margin: 0;
}


.text-img4 {
    margin-top: 119px;
}


.xxtext4 {
    font-family: 'Montserrat' ;
    font-size: 32px;
    font-weight: 600px;
    margin: 0;
    margin-top: 40px;
}

.xtext8{
    font-family: 'Montserrat' ;
    font-size: 18px;
    font-weight: 100px;
    margin: 0;
    margin-top: 24px;
}

.xtext6{
    font-family: 'Montserrat' ;
    font-size: 18px;
    font-weight: 100px;
    margin: 0;
}





.info {
    position: relative;
    height: 512px;
    width: 902px;
    background-color: #FBF7F1;
    margin: 0 auto;
    margin-top: 80px;
    display: flex;
}




.text-info {
    position: relative;
    margin-left: 32px;
}

.info1{
    margin-bottom: 80px;
}

.r1 {
    margin-top: 80px;
    font-family: 'Montserrat' ;
    font-size: 32px;
    font-weight: 100px;
}
.r7 {
    font-family: 'Montserrat' ;
    font-size: 32px;
    font-weight: 100px;
}
.r2 {
    margin-top: 24px;
    font-family: 'Montserrat' ;
    font-size: 18px;
    font-weight: 100px;
}
.r6,
.r5,
.r4,
.r3 {
    font-family: 'Montserrat' ;
    font-size: 18px;
    font-weight: 100px;
}

.img-info {
    position: relative;
    top: 80px;
    margin-left: 126px;
}



.bttt {
    display: flex;
    margin-top: 80px;
}

.bt1 {
    width: 274px;
    height: 64px;
    background-color: #D9D9D9;
    margin-left: 189px;
}

.bt2 {
    width: 274px;
    height: 64px;
    background-color: #D9D9D9;
    margin-left: 40px;
}

.bt3 {
    width: 274px;
    height: 64px;
    background-color: #D9D9D9;
    margin-left: 40px;
}